.country-details {
    font-size: 1rem;
}

.country-details div {
    margin-top: 0.7rem;
}

.country-details label {
    display: inline-block;
    width: 30%;
}

.country-details input {
    font-size: 1rem;
    padding: 0.7rem;
    width: 65%;
    border: none;
    background-color: transparent;
}

.country-details button {
    margin-top: 0.7rem;
    width: 95%;
    padding: 0.7rem;
}

@media only screen and (min-width: 720px) {
    .country-details {
        display: inline-block;
        margin: 1rem auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        padding-bottom: 1rem;
    }
    
    .country-details label {
        width: 7rem;
        text-align: right;
        margin-right: 0.5rem;
    }

    .country-details button {
        display: inline-block;
        width: 40%;
        margin: 2rem;
    }
}